body {
    background-color: #EDEFF0;
    width: 60em;
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: 11em auto auto auto;
    margin: 0,2em;
}

body > header:first-child {
    grid-area: 1/1/span 1/span 2;
    position: relative;
}

#signup {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#menu ul {
    display: flex;
    grid-row: 2;
    flex-grow: 0;
    justify-content: center;
}

#menu li {
    flex-grow: 1;
}

#related {
    grid-row: 2;
    grid-row-end: 5;
    grid-column: 2;
}

#news {
    grid-row: 3;
    grid-column: 1;
    grid-column-end: 2;
}

.date {
    float:right;
}

.comments {
    float: right;
}

.tags {
    float: right;
}

